body {
    background: radial-gradient(circle at top, #132238 0%, #0B1120 45%, #070C15 100%);
    color: #243127;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 10px;
    text-transform: capitalize;
}

h1 {
    text-align: center;
    font-size: clamp(2rem, 10vw, 5rem);
    background: linear-gradient(90deg, #38BDF8, #60A5FA);
    background-clip: text;
    color: transparent;
    transition: all 0.5s ease;
}

h2 {
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2rem);
    background-clip: text;
    color: #94A3B8;
    text-align: center;
    transition: all 0.5s ease;
}

header {
    margin: 20px 20px 10px;
    position: sticky;
    top: 0;
    background-color: #111827;
    border: 1px solid #1E293B;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
    text-align: center;
}

.navMenu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navMenu li {
    margin: 10px;
}

.navMenu li a {
    display: block;
    font-weight: bolder;
    font-size: x-large;
    padding: 10px 20px;
    color: #E0F2FE;
    background-color: #1D4ED8;
    text-align: center;
    text-decoration: none;
    border: 1px solid #60A5FA;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(56,189,248,.25)
}

.navMenu li a:hover {
    background: #2563EB;
    box-shadow: 0 0 18px rgba(56, 189, 248, .35);
    background-color: #301952;
    color: #E2E8F0;
    transition: 0.5s ease;
}